*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 1rem;
}


/* Page
=================*/

.page {
    width: 100%;
    height: 100vh;
    min-height: 915px;
    background: #000 url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

/* Header
=================*/

.header {
    background: #2B7DED;
    padding: 1rem 0;
    margin-bottom: 110px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    margin-left: 1rem;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    transition: color .3s linear;
}

.header-nav-link:hover {
    color: #87a3ff;
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: -6px;
}


.header-logo img {
    display: block;
}


/* Content
=================*/

.content {
    height: 100%;
    width: 100%;
    max-width: 565px;
}

.subtitle {
    font-size: 1.4rem;
    color: #FFFFFF;
    opacity: .6;
    font-weight: 300;
    margin-top: 8px;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 1.2;
}

.title span {
    color: #2B7DED;
}

.text {
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.content-header {
    margin-bottom: 35px;
}

/* Btn
=================*/

.btn {
    display: inline-block;
    padding: 10px 35px;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
    background-color: #2B7DED;
    border-radius: 5px;
    transition: background .3s linear;
    border: 0;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    background-color: #1d57a7;
}

.btn-full {
    display: block;
    width: 100%;
}

/* Author
=================*/

.author {
    position: absolute;
    right: 100px;
    bottom: 0;
}

/* Footer
=================*/

.footer {
    width: 100%;
    position: absolute;
    bottom: 45px;
    left: 0;
}


/* Contacts
=================*/

.contacts {
    display: flex;
    align-items: center;
}

.contacts-link {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-right: 2rem;
}

.contacts-link:last-child {
    margin-right: 0;
    position: relative;
}

.contacts-link:last-child:after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #FFFFFF;
    margin-left: 2rem;
    position: absolute;
    left: 100%;
    top: 11px;
    display: block;
    pointer-events: none;

}

.contacts-link:hover {
    text-decoration: underline;
}

.contacts-icon {
    margin-right: 5px;
}

/* Form
=================*/

.form {
    width: 100%;
    max-width: 280px;
}

.input,
.textarea {
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, .1);
    border: 0;
    margin-bottom: 20px;
    padding: 10px 18px;
    color: #FFFFFF;
    border-radius: 5px;
}

.textarea {
    height: 100px;
    resize: none;
}

.input::placeholder,
.textarea::placeholder {
    color: #FFFFFF;
}

/* Media
=================*/

@media(max-width: 1343px) {
    .page {
        overflow: hidden;
    }

    .author {
        right: -200px;
        bottom: -205px;
    }

}

@media(max-width: 768px) {
    .page {
        min-height: 100vh;
        height: auto;
        padding-bottom: 1rem;
    }

     .author {
        display: none;
    }

    .content {
        margin-bottom: 1rem;
        text-align: center;
        max-width: none;
    }

    .header {
        margin-bottom: 15px;
    }

    .header-logo {
        display: none;
    }

    .header-brand {
        font-size: 1.2rem;
    }

    .footer {
        position: static;
    }

    .form {
        margin: 0 auto;
    }

    /* Contacts */
     .contacts {
        flex-direction: column;
    }

    .contacts-link {
        margin-right: 0;
    }

    .contacts-link:last-child:after {
        display: none;
    }

}

@media(max-width: 640px) {
    .page {
        min-height: 100vh;
        height: auto;
    }

    .header-inner {
        flex-direction: column;
    }
}
